<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Parameter Types Tutorial</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ComponentParameter">
                <span aria-hidden="true"></span> Component Parameters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RouteParameter">
                <span aria-hidden="true"></span> Route Parameters
            </NavLink>
        </div>
    
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CascadingParameter">
                <span aria-hidden="true"></span> Cascading Parameters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GenericParameter">
                <span aria-hidden="true"></span> Generic Parameters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EventCallbackParameter">
                <span aria-hidden="true"></span> Event Callbacks
            </NavLink>
        </div>

    </nav>
</div>

